**/bin/
**/build/
**/build_gradle
**/bundles
**/.cache-main
**/.classpath
**/.gradle/
**/gradle-*.properties
**/.idea
**/*.iml
**/.ivy
**/node_modules
**/plugins-sdk/build.*.properties
**/plugins-sdk/**/classes
**/plugins-sdk/dependencies/**/*.jar
**/plugins-sdk/dist
**/plugins-sdk/**/ivy.xml.MD5
**/plugins-sdk/lib
**/plugins-sdk/**/liferay-hook.xml.processed
**/.project
**/.sass-cache
**/.settings/
**/target/
**/test-coverage
**/test-results
**/tmp
**/.web_bundle_build
